@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;1,500&family=Carlito:ital,wght@0,400;1,400;1,700&family=Quicksand:wght@400;500&family=Raleway:ital,wght@0,500;1,400;1,500&family=Roboto:ital,wght@0,500;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2 rem;
    color: black;
    background: #fff;
}
header {
    margin: 0 auto;
    width: 650px;
}
h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: blue;
    text-align: center;
}
form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(red, green, rgb(104, 104, 184), alpha);
    border-radius: 0.5rem;
    background-color:khaki;
    display: grid;
}
fieldset{
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px saddlebrown;
    padding: 1rem;
}
legend {
    padding: 0.5rem;
    color:black;
    font-size: 1.3em;
}

label, input, button, select, textarea {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
label {
    text-align: left;
    padding-right: 1rem;
}
input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}
input [type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}
button {
    margin: 1rem;
    background-color: auto;
    color:blue;
    border:#fff;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}
button:hover {
    background-color:cornflowerblue;
}
footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color:black;
    border-top: 1px solid #ccc;
}
.textarea q2 {
    width: 578px;
    height: 47px;
}
.form-item {
    display: grid;
    align-items: center;
}
.columns1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}
.columns2 {
    grid-template-columns: 1fr 2fr;
}